:root {
  --prefix-space-unit: --dl-space-space-unit;
  --space-unit: var(--prefix-space-unit, 1em);
  --space-one-and-half: calc(var(--space-unit) * 1.5);
  --prefix-space-two: --dl-space-space-twounits;
  --space-two: var(--prefix-space-two, 2em);
  --prefix-space-three: --dl-space-space-threeunits;
  --space-three: var(--prefix-space-three, 3em);
  --prefix-space-four: --dl-space-space-fourunits;
  --space-four: var(--prefix-space-four, 4em);
  --gallery-grid-template: repeat(7, 1fr) / repeat(3, 1fr);
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--space-unit);
}

.gallery-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  gap: var(--space-two);
  touch-action: pan-y;
}

.gallery-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-one-and-half);
  flex-direction: column;
}

.gallery-hero-heading {
  max-width: 800px;
  text-align: center;
}

.gallery-gallery {
  width: 100%;
  display: grid;

