:root {
  --space-unit: var(--dl-space-space-unit);
  --space-twounits: var(--dl-space-space-twounits);
  --space-threeunits: var(--dl-space-space-threeunits);
  --space-fourunits: var(--dl-space-space-fourunits);
  --space-oneandhalfunits: var(--dl-space-space-oneandhalfunits);
  --size-size-xsmall: var(--dl-size-size-xsmall);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.feature-card-container,
.question1-container,
.home-container {
  gap: var(--space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.feature-card-text,
.question1-text,
.home-text {
  font-weight: 600;
  line-height: 28px;
}

@media (max-width: 767px) {
  .feature-card-feature-card,
  .feature-card-container {
    flex-direction: column;
  }
}

@media (max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}

.home-navbar-interactive {
  display: flex;
  align-items: center;
  padding: var(--space-twounits);
  justify-content: space-between;
}

.home-desktop-menu {
  display: flex;
  justify-content: space-between;
}

.home-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.home-text02,
.home-text03,
.home-text04,
.home-text05 {
  margin-left: var(--space-twounits);
}

.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-burger-menu {
  display: none;
}

.home-mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding: 32px;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.5s;
  flex-direction: column;
  justify-content: space-between;
}

.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-threeunits);
}

.home-text09 {
  font-size: 30px;
  font-weight: 700;
}

.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-icon02 {
  width: var(--size-size-xsmall);
  height: var(--size-size-xsmall);
}

.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-text10,
.home-text11,
.home-text12,
.home-text13,
.home-text14 {
  margin-bottom: var(--space-unit);
}

.home-buttons1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--space-unit);
}

.home-icon04,
.home-icon06,
.home-icon08 {
  width: var(--size-size-xsmall);
  height: var(--size-size-xsmall);
  margin-right: var(--space-twounits);
}

.home-hero {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 96px;
}

.home-container1 {
  gap: var(--space-oneandhalfunits);
  align-items: center;
}

.home-hero-heading {
  max-width: 800px;
  text-align: center;
}

.home-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}

.home-btn-group {
  gap: var(--space-oneandhalfunits);
  display: flex;
  align-items: center;
}

.home-hero-button1 {
  text-decoration: none;
}

.home-features {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-features1 {
  gap: var(--space-threeunits);
  width: 1
