:root {
  /* Define the space units */
  --space-unit: 16px;
  --space-twounits: calc(2 * var(--space-unit));
  --space-threeunits: calc(3 * var(--space-unit));
  --space-fourunits: calc(4 * var(--space-unit));
  --space-oneandhalfunits: calc(1.5 * var(--space-unit));

  /* Define the size units */
  --size-size-xsmall: 24px;
}

* {
  /* Include padding and border in the element's total width and height */
  box-sizing: border-box;
}

body {
  /* Set the font family and size */
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.container {
  /* Center the content */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.feature-card-container,
.question1-container,
.home-container {
  /* Add spacing between elements */
  gap: var(--space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.feature-card-text,
.question1-text,
.home-text {
  /* Set the font weight and line height */
  font-weight: 600;
  line-height: 28px;
  /* Add a fallback value for the line-height property */
  line-height: 1.75rem;
}

@media (max-width: 767px) {
  .feature-card-feature-card,
  .feature-card-container {
    /* Change the flex direction for smaller screens */
    flex-direction: column;
  }
}

@media (max-width: 479px) {
  .feature-card-container {
    /* Change the flex direction for very small screens */
    flex-direction: column;
  }
}

.home-navbar-interactive {
  /* Add spacing around the content */
  padding: var(--space-twounits);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-desktop-menu {
  /* Add spacing between elements */
  display: flex;
  justify-content: space-between;
}

.home-links {
  /* Center the content */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.home-text02,
.home-text03,
.home-text04,
.home-text05 {
  /* Add spacing around the text */
  margin-left: var(--space-twounits);
}

.home-buttons {
  /* Add spacing around the buttons */
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-burger-menu {
  /* Hide the hamburger menu on larger screens */
  display: none;
}

.home-mobile-menu {
  /* Position the mobile menu */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.9);
  /* Add a blur effect on the background */
  backdrop-filter: blur(10px);
  transform: translateX(100%);
  transition: transform 0.5s;
  /* Enable scrolling if the content overflows */
  overflow: auto;
  /* Allow vertical scrolling on touch devices */
  touch-action: pan-y;
  /* Prevent text selection */
  user-select: none;
  /* Add rounded corners */
  border-radius: 10px;
  /* Add spacing around the content */
  flex-direction: column;
  justify-
