.feature-card-container {
  gap: var(--spacing-unit);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.feature-card-text {
  font-weight: 600;
  line-height: 1.71;
}

@media (max-width: 767px) {
  .feature-card {
    flex-direction: row;
  }
}

@media (max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}
