.feature-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--dl-space-space-unit);
}

.feature-card-text {
  font-weight: 600;
  line-height: 28px;
}

@media (max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
}

@media (max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
  
  /* You can add any other styles specific to screens smaller than 479px here */
}
