.feature-card3-container {
  gap: var(--spacing-unit);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature-card3-text {
  font-weight: 600;
  line-height: 1.71;
}

@media (max-width: 767px) {
  .feature-card3-feature-card {
    flex-direction: row;
  }

  .feature-card3-container {
    gap: var(--spacing-unit);
  }
}

@media (max-width: 479px) {
  .feature-card3-container {
    gap: var(--spacing-unit);
  }
}
