.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--dl-space-space-unit);
  width: auto;
  height: auto;
  position: relative;
}

.flex-container {
  display: flex;
  gap: var(--dl-space-space-unit);
  flex: 1;
  align-items: flex-start;
}

.text-700 {
  font-weight: 700;
}
