:root {
  --question-gap: var(--dl-space-space-unit);
  --question-width: auto;
  --question-height: auto;
  --question-align-items: flex-start;
  --question-flex-direction: column;
}

.question1-container {
  gap: var(--question-gap);
  width: var(--question-width);
  height: var(--question-height);
  display: flex;
  position: relative;
  align-items: var(--question-align-items);
  flex-direction: var(--question-flex-direction);
}

.question1-text {
  font-weight: 700;
}
