:root {
  --question-gap: var(--dl-space-space-unit);
  --question-alignment: flex-start;
  --question-direction: column;
}

.question11-container {
  gap: var(--question-gap);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: var(--question-alignment);
  flex-direction: var(--question-direction);
}

.question11-text {
  font-weight: 700;
}
